.fail-text{
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: red;
  margin-top: 40px;
  margin-bottom: 20px;
}

.fail-description{
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 20px;
}

.link-to-login{
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}